<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<table class="table table-responsive table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>User Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!Error">
        <tr *ngFor="let txt of data">
          <td>{{txt.id}}</td>
          <td>{{txt.userId}}</td>
          <td>{{txt.title}}</td>
          <td>{{txt.body}}</td>
          <td><input type="button" (click)="ShowDetails(txt.id)" value="Details"/></td>
        </tr>
      </ng-container>
      <tr *ngIf="Error">
        <td colspan="4">{{errorMessage}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="col-md-1"></div>
</div>