<table class="table table-responsive table-bordered table-striped">  
  <thead>  
      <tr>  
          <th>Street</th>  
          <th>suite</th>  
          <th>city</th>  
          <th>zipcode</th>  
          <!-- <th>lat</th>   
          <th>lng</th>                -->
      </tr>  
  </thead>  
  <tbody>  
      <tr>  
          <td>{{model.street}}</td>  
          <td>{{model.suite}}</td>  
          <td>{{model.city}}</td>  
          <td>{{model.zipcode}}</td>  
          <!-- <td>{{model.geo.lat}}</td>  
          <td>{{model.geo.lng }}</td>   -->
      </tr>  
  </tbody>  
</table> 